{% extends "tricks/layout.html" %}
{% load static %}

{% block body %}
    <div id="container">
        <br>
    <h2>login</h2> <br>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        
            <input autofocus type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="login">
    </form>
    </div>

{% endblock %}