.navbar {
	background-color: #222222;
    position: relative;
    height: 12vh;
    border-bottom: 2px solid #333333;

}

a {
	color: lime;
}

.reviewtrick {
	font-size: 1.2em;
	text-align: center;
}

.navbar-list {
	right:  0;
	position: absolute;
	margin-top: 8px;
	margin-right: 10px;
}

.credits {
	flex-basis: 25%;
}

.trickinfo {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20px;
	border-radius: .5em;
	border: .5px solid #333333;
	background-color: #222222;;
}

.trickinfo > * {
	margin-right: 10px;
	margin-left: 10px;
}

input {
	background-color: #222222;
	color: white;
}

textarea {
	background-color: #222222;
	color: white;
	width: 220px;
	height: 60px;
}



.center {
	text-align: center;
	min-height: 30vh;
	justify-content: center;
}


#emblem {
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	display: inline; 
	color: white;
}

#rules {
text-align: left;
display: inline-block;
margin-top: 4vh;
margin-bottom: 4vh;
}

pre {
	font-size: 1.1em;
	white-space: pre-wrap;
	color: white;
}

body {
	background-color: rgb(13, 13, 13);
	font-family: monospace;
}
li {
	text-align: left;
	margin: 0px auto;
	color: white;
}

label {
	width: 12%;
	margin-right: 3%;
	margin-left: 37%;
	text-transform: lowercase;
	color: white;
}

#container {
	text-align: center;
	justify-content: center;
}
.accept {
	text-align: center;
}

#acceptbtn {
	margin-top: 5px;
	margin-bottom: 8px;
}

iframe {
	margin-top: 3vh;
	margin-bottom: 3vh;
}

#submitbtn {
	margin-bottom: 15px;
	margin-top: 1vh;
}

.flexbox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 15vh;
}

.flexbox1 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.trick {
	flex-basis: 16.6666%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.trickbtn {
	border-radius: .5em;
	border-color: gray;
	font-size: 1em;
	width: 11em;
	height: 100%;
	margin-right: 5px;
}

.trickbtn:hover {
		color: white;
		transform: scale(1.01);
		background-color: #2B2B2B;
}

h1 {
	text-align: center;
	color: white;
}

h2, h3 {
	color: white;
}

p {
	font-size: 1.2em;
	color: white;
}
